{% extends 'user/profile.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{% endblock %}

{% block page_content %}
{% if alert %}
    <div id="add-title-alert"class="alert alert-dismissable {{ alert.type }} float-right" style="width: 20rem" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="font-weight-light">{{alert.message}}</p> {% if alert.link %}<a class="alert-link" href="{% url alert.link %}">{{ alert.link_message }}</a>{% endif %}
    </div>
{% endif %}
<div class="card" style="width:45rem">
    <div class="card-header">
        <h2>User Preferences</h2>
    </div>
    <form action="{% url 'set_user_preferences' %}" method="POST">
        {% csrf_token %}
        <div class="card-body">
            {% for field in form %}
                {{ field|as_crispy_field }}
            {% endfor %}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-warning" name="button">Save changes</button>
        </div>
    </form>
</div>
{% endblock %}
