{% extends 'base_frontend.html' %}
{% load static %}
{% load api_helper %}
{% load library_helper %}

{% block title %}
    <title>{{ other_user.first_name }}'s Library</title>
{% endblock %}

{% block content %}
     <div class="user-library">
         <div class="container-flex main-content">
             <a href="{% url 'view_profile' other_user.id %}" class="text-muted">< Back </a>
             <h1 class="col-sm-6 mt-2">{{ other_user.first_name }}'s Library</h1>
             <div class="col-sm-3 mr-sm-2">
                 {% if alert %}
                    <div id="action-alert" class="alert alert-dismissable {{alert.type}} align-self-center" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <p class="font-weight-light">{{alert.message}}</p> {% if alert.link %}<a class="alert-link" href="{% url alert.link %}">{{ alert.link_message }}</a>{% endif %}
                    </div>
                 {% endif %}
             </div>
             <table class="table table-hover">
                 <thead>
                     <tr>
                         <th scope="col" style="width: 12%">Poster</th>
                         <th scope="col" style="width: 18%">Title (Year)</th>
                         <th scope="col" style="width: 20%">Overview</th>
                         <th scope="col">Genres</th>
                         <th scope="col">Format</th>
                         <th scope="col" style="width: 10%">Status</th>
                     </tr>
                 </thead>
                 <tbody>
                     {% for movie in movies %}
                      <tr>
                          <td scope="col"><img src="{{ movie.imageLink }}" style="width: 92px"/></td>
                          <th scope="row"><a class="font-weight-bold text-info" href="{{ movie.tmdbLink }}" target="_blank">{{ movie.title }} ({{ movie.releaseDate|date:"Y" }})</a></th>
                          <td class="text-muted font-weight-light small">{{ movie.description|truncatewords:45 }}</td>
                          <td class="small">{{ movie.genres|join:", " }}</td>
                          <td>{{ movie.format|media_formatter}}</td>
                          <td>{{ movie.status|status_formatter }}<td>
                      </tr>
                     {% endfor %}
                 </tbody>
             </table>
             {% if movies|length == 0 %}
                 <div class="nothing-here move-to-center" style="margin-top: 100px">
                     <h5>There's nothing here!</h5>
                     <a class="btn btn-warning" href="{% url 'api_index' %}">Search for movies you own</a>
                 </div>
             {% endif %}
         </div>
     </div>
{% endblock %}
