{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="main-content">
    {% if form.errors %}
    <p>Invalid email address, please try again.</p>
    {% endif %}

    <div class="container">
        <div class="card-login card">
            <div class="card-body">
                <div class="card-title h5">Forgot password</div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row">
                        <div class="col-sm-3">
                            <button class="btn btn-warning" type="submit">Submit</button>

                        </div>
                        <div class="col">
                            <p><a href="{% url 'login' %}" class="btn btn-outline-secondary">Back to login</a></p>
                        </div>
                    </div>
                </form>
                <br>
                <a href="{% url 'create_account'  %}" class="card-link text-info">Don't have an account? Click here to sign up.</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}