{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="main-content">
    {% if form.errors %}
    <p>The passwords you have entered do not match.</p>
    {% endif %}

    {% if validlink %}
    <div class="container">
        <div class="card-login card">
            <div class="card-body">
                <div class="card-title h5">Change password</div>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field|as_crispy_field }}
                    {% endfor %}
                    <div class="row">
                        <div class="col-sm-3">
                            <button class="btn btn-warning" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <p class="text-warning">
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    </p>
    {% endif %}
</div>
{% endblock %}
