{% extends "base.html" %}

{% block content %}
<div class="main-content">
    <h4 class="display-4 font-size-small">Reset email sent</h4>
    <p>We've emailed you instructions for setting your password. If an account exists with the email you entered, you should receive them shortly.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with (and remember to check your spam folder).</p>
    <a href="{% url 'login' %}" class="btn btn-warning mt-4">Return to login</a>
</div>
{% endblock %}
