{% extends 'base_frontend.html' %}
{% load static %}

{% block title %}
<title>Add a title</title>
{% endblock %}

{% block content %}
	<div class="main-content">
		{% if alert %}
			<div id="add-title-alert"class="alert alert-dismissable {{alert.type}} float-right" style="width: 20rem" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			      <span aria-hidden="true">&times;</span>
			    </button>
				<p class="font-weight-light">{{alert.message}}</p> {% if alert.link %}<a class="alert-link" href="{% url alert.link %}">{{ alert.link_message }}</a>{% endif %}
			</div>
		{% endif %}
		<div class="card border-dark" style="width: 30rem; padding: 15px">
			<div class="card-body">
				<h2 class="card-title">Add a title</h2>
				<p class="card-text text-muted">Search for a movie below to add it to your library.  Use any keywords you like - movie title, release date,
					cast, crew - we're not picky. </p>
				<hr>
				<form action="{% url 'api_results' %}" method="GET">
					{% csrf_token %}
				<p class="form-group row no-gutters">
					<input style="padding:5px; margin-top: 15px" class="library-searchbar form-control col-sm-10" id="query" placeholder="Title, release date, cast, etc..." name="query" type="text" />&nbsp;
					<input style="display: none" type="text" name="page" id="page" value="1">
					<input style="margin-top: 15px"class="btn btn-sm btn-primary col" type="submit" value="Search">
				</p>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
