{% extends 'base.html' %}

{% block content %}
    <div class="main-content">
        <h1>What is CineList?</h1>
        <br>
        <p>First and foremost, CineList is a movie sharing website. The primary function of CineList is the library.</p>
        <p>When you create an account, you then have the ability to build out your digital library. This library is the digital representation of the movies you own physical copies of.</p>
        <p>Once you have built your library, you then have the option to search for your friends that are also using CineList.</p>
        <p>Once you've built up your library and friends list, you can proceed to borrow movies freely between each other.</p>
        <p>CineList is designed to expedite and simplify the process of sharing movies with friends.</p>
        <p>CineList makes use of the TMDb API, and may in the future take advantage of Google's API as well.</p>
    </div>
{% endblock %}
